//Color Variables

$banner-bg:#3385c6;
$nav-bg:#36454f;
$border-color:#ccc;
$major-blue: #005b96;
$default:#51DDFC;
$error:#E4757A;
$warning:#FD7856;
$info:#927BC1;
$main-text: #333;


$nav-item-bg: #58E1C1;
$form-field-border: #58E1C1;
$block-quote-border: #58E1C1;
$headline-primary: #58E1C1;
$link-color:#51DDFC;;
$headline-secondary: #aaa;
$container-color:#888;



//Font Variables
$container-font: Arial, sans-serif;


//Breakpoint variables
$xxs: 320px;
$xs: 576px;
$sm: 768px;
$md: 1024px;

//Border settings
$border-settings: 1px solid $border-color;

    