//******** buttons ********

/**** TOGGLE SWITCH ****/
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 24px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 34px;
  } 
  
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 50%;
  }
  
 
  input:checked + .slider {
    background-color: #8987ec;
  }
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(19, 23, 27);
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(40px);
  }
  
  /*------ ADD ELEMENT WITH CSS ---------*/
  .slider:after
  {
   content:'OFF';
   color: white;
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 60%;
   font-size: 0.6em;
   font-family: Verdana, sans-serif;
  }
  
  input:checked + .slider:after
  {  
    content:'ON';
    top: 50%;
    left: 30%;


  }
  

/*--------- END --------*/

