.img--frame {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ddd;
}

.img--avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.new-members__card__image {
    width: 25%;
    height: 35%;
}

.icon {
    width: 20px;
    height: 20px;
}

.social-icon-container {
    border-radius: 50%;
    background-color: blue;
    width: 40px;
    height: 40px;
}
.social-icon {
    position: relative;
    top: 11px;
    left: 10px;
    width: 22px;
    height: 22px;
}


.st0{
    fill: #777;
}

.bell-icon {
    width: 20px;
    height: 20px;
}





