//******* Navigation ********
//****  Mobile View ****// 
.nav {
    @include flexible($direction: column, $align-items: center);
}
.nav {
    width: 100%;
    @include mq($sm){
        @include flexible($direction: row,
                        $justify-content: flex-end);
    }
    .nav__item {
        width: 100%;
        text-align: center;
        padding: 0.85em;
        display: inline-block;
        //media query set 769px
        @include mq($sm) {
            
            width: auto;
        };
        a {
            color: $container-color;
        }
    }

    
}

nav[role="navigation"] {
    width: 100%;
}

.nav__item:hover {
    background-color: $nav-item-bg;
    border-radius: 4px;

    a {
    color: white;
    }
}

a:link {
    text-decoration: none;
}

.main-nav__icon{
    margin-left: 0.7em;
    margin-right: 0.7em;
}