.container  {
    display: grid;
    grid-template-columns:minmax(0, 1fr);
    grid-template-rows: minmax(32px, auto);
    grid-template-areas: 
    "banner"
    "main-nav"
    "main";
    @include mq($xs) {
        color: magenta;
        grid-template-columns:50px auto;
        grid-template-rows: minmax(32px, auto);
        grid-template-areas: 
        "banner banner"
        "main-nav main"
        "main-nav main";
        
    }
}


