.container  {
    display: grid;
    grid-template-columns:minmax(0, 1fr);
    grid-template-rows: minmax(32px, auto);
    grid-template-areas: 
    "banner"
    "main-nav"
    "main";
}

@media screen and (min-width: 400px) {
    .container {
        color: blue;
       
    }
}


