.container  {
    display: grid;
    grid-template-columns:minmax(0, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-template-areas: 
    "banner"
    "main-nav"
    "main"
}

.main-nav {
    display: grid;
    grid-template-rows: minmax(100px, auto) 
}

.flex--row {
    @include flexible($direction: column,
                       $justify-content: center);
    @include mq($sm) {
            @include flexible($direction: row,
                               $justify-content: center);
            
        }
}
.centered {
    @include centerer;
}

.banner {
    grid-area: banner;
}

.main-nav {
    grid-area: main-nav;
}

.dashboard-heading-search {
    grid-area: dashboard-heading-search;
}

.traffic-chart {
    grid-area: traffic-chart;
}

.daily-traffic-chart {
    grid-area: daily-traffic-chart;
}

.mobile-users-chart {
    grid-area: mobile-users-chart;
}

.social-stats {
    grid-area: social-stats;
}

.new-members{
    grid-area: new-members;
}
.recent-activities {
    grid-area: recent-activities;
}
.message-user {
    grid-area: message-user;
}
.settings {
    grid-area: settings;
}


