.banner {
    grid-area: banner;
    background-color: $banner-bg;
    padding: 0.2em 0.8em 0.2em 0.6em;
}

.banner__container {
    margin: 0;
}

.appName {
    padding-top: 0.4em;
}

.notification-icon {
    margin-left: auto;
    margin-top: 0.3em;
    width: 20px;
    height: 20px;
}

.profilePicAndName {
    margin-left: 0.5em;
    padding-left: 0.5em;
    border-left: 0.5px solid $nav-bg;
}
.profileName {
    position: relative;
    bottom: 8px;
}




