.banner {
    grid-area: banner;
    background-color: $banner-bg;
}

.appName {
    padding-top: 0.4em;
}

.notification-icon {
    margin-left: auto;
    margin-top: 0.3em;
    width: 20px;
    height: 20px;
}

.profilePicAndName {
    margin-left: 0.5em;
    padding-left: 0.5em;
    border-left: 1px solid $nav-bg;
}
.profileName {
    position: relative;
    bottom: 12px;
}



