main {
    grid-area: main;
}

.traffic-chart {
    grid-area: traffic-chart;
}

.daily-traffic-chart {
    grid-area: daily-traffic-chart;
}

.mobile-users-chart {
    grid-area: mobile-users-chart;
}

.social-stats {
    grid-area: social-stats;
}

.new-members{
    grid-area: new-members;
}
.recent-activities {
    grid-area: recent-activities;
}
.message-user {
    grid-area: message-user;
}
.settings {
    grid-area: settings;
}


