/*** Defines name of grid areas within thee nav ***/
.main-nav {
    grid-area: main-nav;
}

.dashboard-heading-search {
    grid-area: dashboard-heading-search;
}

/*** Flex layout for main-nav ***/
.main-nav__container {
    @include flexible($direction: row,
                      $justify-content: space-evenly);
    @include mq($xs) {
            @include flexible($direction: column,
                               $justify-content: flex-start);
            
        }
    width: 100%;
}

.main-nav__icon {
    @include mq($xs) {
        margin-bottom: 1em;
    }
}

