/*** Defines name of grid areas within thee nav ***/
.main-nav {
    grid-area: main-nav;
    background-color: $nav-bg;
}

.dashboard-heading-search {
    grid-area: dashboard-heading-search;
}

/*** Flex layout for main-nav ***/
.main-nav__container {
    @include flexible($direction: row,
                      $justify-content: space-evenly);
    @include mq($xs) {
            @include flexible($direction: column,
                               $justify-content: flex-start);
            padding-right: 0.8em;
        }
    width: 100%;
}

li.main-nav__icon {
    padding-left: 0.6em;
    margin-left: 0;
    @include mq($xs) {
        margin-bottom: 2.5em;
    }
}

//building active nav item
li.main-nav__icon.active {
    border-left: 3px solid green;
}

li path.active {
    fill: #eee;
}


