/** Section containing Dashboard Heading and Search Bar **/
.dashboard-heading-search {
    @include flexible($direction: row);
    /*@include mq($xs) {
            @include flexible($direction: row,
                               $justify-content: center);
            
        }*/
}

.search-bar {
    margin-left: auto;
}

.dashboard-header {
    margin-top: 0;
    margin-bottom: 0;
}

/** Traffic Chart Section **/
.web-traffic-chart {
    text-align: center;
}
.web-traffic-chart__time-units {
    @include flexible($direction: row,
                       $justify-content: space-evenly)
}

/** Daily Traffic Chart Section **/
.daily-traffic-chart {
    text-align: center;
}

.mobile-users-chart {
    text-align: center;
}

/** Social Stats Section **/
.social-stats__container {
    /** Media Query **/
    @include mq($xs) {
    @include flexible($direction: row);
    }
}
.social-stats {
    text-align: center;
}

.social-stats__container__twitter,
.social-stats__container__facebook,
.social-stats__container__google {
    @include flexible($direction: row,
                       $justify-content: center);
    margin: 1em auto;                   
    background-color: #ddd;
    border-radius: 5px;
    width: 45%;
    padding: 0.5em 0;
    /** Media Query **/
    @include mq($xs) {
        width: 30%;
    }

}

.social-stats__data > * {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.social-stats__data {
    padding-left: 1em;
}

/** Create blue background for social icons **/
.social-icon-container {
    border-radius: 50%;
    background-color: blue;
    width: 40px;
    height: 40px;
}

//**** POSITIONING SOCIAL ICON IN SOCIAL STATS SECTION ****//
/** Twitter Social Icon **/
.social-icon-twitter {
    position: relative;
    top: 11px;
    left: 1px;
    width: 20px;
    height: 20px;
}

/** Facebook Social Icon **/
.social-icon-facebook {
    position: relative;
    top: 9px;
    left: 1px;
    width: 20px;
    height: 20px;
}

/** Google Social Icon **/
.social-icon-google {
    position: relative;
    top: 9px;
    left: 1px;
    width: 20px;
    height: 20px;
}

/**** New Members Section ****/
.new-members {
    text-align: center;
}
.new-members__card {
    @include flexible($direction: row);
    text-align: left;
}

.new-members__card__details > * {
    margin: 0 0.5em;
}

.new-members__card__signup-date {
    margin: 0 0.5em;
}

/**** Recent Activities ****/
.recent-activities {
    text-align: center;
}
.more-details {
    display: none;
}

.recent-activities__details {
    @include flexible($direction: row);
    text-align: left;
    
}

.recent-activities__details__activity > * {
    margin: 0 0.5em;
}

/**** Message User ****/
/*.message-user {
    width: 95%;
    margin: auto;
}*/
.message-user__details > * {
    width: 100%;
}

.message-user__details__search {
    margin-bottom: 0.5em;
}

/**** Settings ****/
.settings__email,
.settings__profile {
    @include flexible($direction: row);
}
.switch {
    margin-left: auto;
    margin-top: 14px;
}

