/** Section containing Dashboard Heading and Search Bar **/
.dashboard-heading-search {
    @include flexible($direction: row);
    /*@include mq($xs) {
            @include flexible($direction: row,
                               $justify-content: center);
            
        }*/
}

.search-bar {
    margin-left: auto;
}

.dashboard-header {
    margin-top: 0;
    margin-bottom: 0;
}

/** Traffic Chart Section **/
.traffic-chart {
    text-align: center;
}
.traffic-chart__time-units {
    @include flexible($direction: row,
                       $justify-content: space-evenly)
}

/** Daily Traffic Chart Section **/
.daily-traffic-chart {
    text-align: center;
}

.mobile-users {
    text-align: center;
}

/** Social Stats Section **/
.social-stats {
    text-align: center;
}

.social-stats__container__twitter,
.social-stats__container__facebook,
.social-stats__container__google {
    @include flexible($direction: row,
                       $justify-content: center);
    margin: 1em auto;                   
    background-color: #ddd;
    border-radius: 5px;
    width: 50%;
    padding: 0.5em 0;
}

.social-stats__data > * {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.social-stats__data {
    padding-left: 1em;
}

/** Create blue background for social icons **/
.social-icon-container {
    border-radius: 50%;
    background-color: blue;
    width: 40px;
    height: 40px;
}

//**** POSITIONING SOCIAL ICON IN SOCIAL STATS SECTION ****//
/** Twitter Social Icon **/
.social-icon-twitter {
    position: relative;
    top: 11px;
    left: 1px;
    width: 20px;
    height: 20px;
}

/** Facebook Social Icon **/
.social-icon-facebook {
    position: relative;
    top: 9px;
    left: 1px;
    width: 20px;
    height: 20px;
}

/** Google Social Icon **/
.social-icon-google {
    position: relative;
    top: 9px;
    left: 1px;
    width: 20px;
    height: 20px;
}


