/** Section containing Dashboard Heading and Search Bar **/
.dashboard-heading-search {
    @include flexible($direction: row);
    /*@include mq($xs) {
            @include flexible($direction: row,
                               $justify-content: center);
            
        }*/

}

.dashboard-header {
    margin-right: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.6em 0 0.8em 0.5em;   
}

.search-bar-container {
    width:100%;
    text-align: right;
    padding: 0.3em 0.5em 0.3em 0;
    border-left: $border-settings;
    border-bottom: $border-settings;
}

.search-bar {
    margin-left: auto;
    padding: 0.2em 0 0.2em 0;
    border: $border-settings;
    border-radius: 2px;
}

/*************************************
        Traffic Chart Section 
 **************************************/

/**** Message Alert ****/
[class*='close'] {
    color: white;
    font: 12px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 9px;
    padding-right: 0.4em;
  }
  
  .close:after {
    content: 'X'; /* ANSI X letter */
  }


.alert {
    font-weight: bold;
}
.alert-message {
    font-size: 0.8em;
    text-align: left;
    background-color: $major-blue;
    width: 98%;
    margin: auto;
    border-radius: 0.2em;
    color: white;
    padding: 0.5em;
    position: relative;
    @include mq($xs) {
        font-size: 1em;
    }
}

.traffic-type-selected {
    background-color: green;
    color: white;
    border-radius: 12px;
    padding: 0.2em 0.7em;
}
.web-traffic-chart {
    text-align: center;
    padding: 0.9em;
}

.web-traffic-chart__time-units {
    font-size: 0.8em;
    @include flexible($direction: row,
                       $justify-content: space-evenly);
    @include mq($sm) {
        margin-left: auto;
    }
    @include mq($xs) {
        font-size: 1em;
    }
}
.web-traffic-heading-and-time-units-container {
    @include mq($sm) {
        @include flexible($direction: row)
    }

}

.web-traffic-chart__type {
    @include mq($sm) {
        margin-left: 1.2em;
    }
}

/******************************************
         Daily Traffic Chart Section 
********************************************/
.daily-traffic-chart {
    text-align: center;
    padding: 0.9em;
    border-top: $border-settings;
    border-bottom: $border-settings;
    @include mq($sm) {
        border-right: $border-settings;
        border-bottom:  $border-settings;
    }
}

.mobile-users-chart {
    text-align: center;
    padding: 0.9em;
    border-bottom: $border-settings;
    @include mq($sm) {
        border-bottom:  $border-settings;
        border-top: $border-settings;
    }
}

/*******************************************
             Social Stats Section 
********************************************/
.social-stats__container {
    /** Media Query **/
    @include mq($xs) {
    @include flexible($direction: row);
    }
}
.social-stats {
    text-align: center;
}

.social-media-type {
    color: $major-blue;
}

.social-stats__container__twitter,
.social-stats__container__facebook,
.social-stats__container__google {
    @include flexible($direction: row,
                       $justify-content: center);
    margin: 1em auto;                   
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 45%;
    padding: 0.5em 0;
    /** Media Query **/
    @include mq($xs) {
        width: 30%;
    }

}

.social-stats__data > * {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.social-stats__data {
    padding-left: 1em;
}

/** Create blue background for social icons **/
.social-icon-container {
    border-radius: 50%;
    background-color: $major-blue;
    width: 40px;
    height: 40px;
}

//**** POSITIONING SOCIAL ICON IN SOCIAL STATS SECTION ****//
/** Twitter Social Icon **/
.social-icon-twitter {
    position: relative;
    top: 11px;
    left: 1px;
    width: 20px;
    height: 20px;
}

/** Facebook Social Icon **/
.social-icon-facebook {
    position: relative;
    top: 9px;
    left: 1px;
    width: 20px;
    height: 20px;
}

/** Google Social Icon **/
.social-icon-google {
    position: relative;
    top: 9px;
    left: 1px;
    width: 20px;
    height: 20px;
}

/**** New Members Section ****/
.new-members {
    text-align: center;
    padding: 0.9em;
    border-top: $border-settings;
    @include mq($sm) {
        border-right: $border-settings;
    }
}

ul li.new-members__card:last-child {
    border-bottom: 0;
}

.new-members__card {
    @include flexible($direction: row);
    text-align: left;
    padding: 0.4em 0 0.4em 0;
    border-bottom: $border-settings;
}



.new-members__card__details > * {
    margin: 0 0.5em;
}

.new-members__card__signup-date {
    margin: 0 0.5em;
    @include mq($xs) {
        margin-left: auto; /*move element with date to xtreme right */
        margin-top: auto;
        margin-bottom: auto;
    }
}

@include mq($xs) {
    //introduce flexible layout in order to move .new-members__card__signup-date to the xtreme right
    .new-members__card__info-container {
        @include flexible($direction: row);
        width: 100%;

    }
}

.new-members__card__details__email {
    color: $major-blue;
}

/**** Recent Activities ****/
.recent-activities {
    text-align: center;
    padding: 0.9em;
    border-top: $border-settings;
}
.more-details {
    display: inline-block;
    padding: 0.7em;
    font-size: 1em;
    color: $banner-bg;
    margin-left: auto; /*move arrow icon to xtreme right */
    margin-top: auto;
    margin-bottom: auto;
    
}

ul li.recent-activities__details:last-child {
    border-bottom: 0;
}

.recent-activities__details {
    @include flexible($direction: row);
    text-align: left;
    padding: 0.4em 0 0.4em 0;
    border-bottom: $border-settings;
    
}

.recent-activities__details__activity > * {
    margin: 0 0.5em;
}


.recent-activities__details__info-container {
    @include flexible($direction: row);
    width: 100%;    
}

.activity-hours {
    font-weight: bold;
}

/*** setting fonts for new-members and settings container ***/
.new-members__card__info-container,
.recent-activities__details-container {
    font-size: 0.9em;
}

/**** Message User ****/
.message-user {
    border-top: $border-settings;
    padding: 0 0.9em 0.9em 0.9em;
    @include flexible($direction: column);
    @include mq($sm) {
        border-right: $border-settings;
    }
}

.message-user > * {
    width: 100%;
}

.message-user__details {
    @include flexible($direction: column);
    margin-top: auto;
    
}
.message-user__details > * {
    width: 100%;
}

.message-user__details__textarea {
    height: 140px;
    margin-bottom: 0.8em;
}


.message-user__details__search {
    margin-bottom: 0.5em;
}

.message-user__send-button {
    margin-top: auto;
    background-color: $major-blue;
    color: white;
}

/**** Settings ****/
.settings {
    border-top: $border-settings;
    @include flexible($direction: column);
    padding: 0 0.9em 0.9em 0.9em;
}
.settings > * {
    width: 100%;
}
.settings__email,
.settings__profile {
    @include flexible($direction: row);
}
.switch {
    margin-left: auto;
    margin-top: 14px;
}

.send-email {
    margin-left: 10%;
}

.set-public {
    margin-left: 13.5%;
}

.settings__buttons {
    @include flexible($direction: column);
    width: 100%;
    margin-top: auto;
    @include mq($xs) {
        @include flexible($direction: row);

    }

}
.settings__buttons__save,
.settings__buttons__cancel {
    margin-top: 1em;
    color: white;
    
    
}

//Sets layout for all the buttons on the page //
button {
    border-radius: 0.3em;
    border-width: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.settings__buttons__save {
    background-color: $major-blue;
    @include mq($xs) {
        margin-right: 0.8em;
    }
}

.settings__buttons__cancel {
    background-color: #aaa;
    
}

/** sets element width to 100% **/
.full-width {
    width: 100%;
}
